@import './defaults.scss';

.dashboardDetails {
  height: 100%;

  .dashboardMap {
    height: 100%;
    border-radius: $radius1;
  }

  .popup {
    padding: $size3 0;

    p {
      margin: 0;
      text-align: center;
    }

    .popupTitle {
      font-family: $defaultTitle;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: $size1;
    }

    .popupCases {
      font-size: 14px;
    }
  }
}

.container {
  .headerShimmer {
    button {
      width: calc($size16 + $size16);
    }
  }

  .dashboardShimmer {
    div {
      border-radius: $radius1;
      height: 100%;
      width: 100%;
      background-color: $shimmerBackground;
      @extend %shimmerAnimation;
    }
  }
}