@import './defaults.scss';

.dashboardDetails {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  .showBtns {
    position: absolute;
    top: 0;
    z-index: 500;
    width: calc(75% - $size8);
    display: flex;
    flex-direction: row;
    padding: $size4 $size6;
    box-sizing: border-box;
    justify-content: center;

    button {
      padding: $size2;
      border: none;
      color: white;
      background-color: #5e7079;

      &:hover {
        background-color: #3c464b;
        cursor: pointer;
      }

      &:nth-child(2) {
        border-right: 1px solid white;
        border-left: 1px solid white;
      }

      &:first-child {
        border-top-left-radius: $radius1;
        border-bottom-left-radius: $radius1;
      }

      &:last-child {
        border-top-right-radius: $radius1;
        border-bottom-right-radius: $radius1;
      }
    }
  }

  .dashboardMap {
    height: 100%;
    width: 75%;
    margin-right: $size6;
    border-radius: $radius1;
  }

  .statistics {
    flex: 1;
    border-radius: $radius1;
    display: flex;
    flex-direction: column;

    .type {
      flex: 1;
      border-radius: $radius1;
      margin-bottom: $size6;
      border: 1px solid $primaryGrey;
      position: relative;
      overflow-y: scroll;
      position: relative;

      ul {
        padding: 0;
        margin: 0;
        background-color: white;
        width: 100%;
        position: sticky;
        top: 0;
      }

      h3 {
        text-align: center;
        padding: $size2 0;
        margin-bottom: $size1;
      }

      &:first-child {
        h3 {
          background-color: rgb($primaryRed, 0.25);
        }

        p {
          span:last-child {
            color: $primaryRed;
          }
        }
      }

      &:nth-child(2) {
        h3 {
          background-color: rgb($primaryGreen, 0.25);
        }

        p {
          span:last-child {
            color: $primaryGreen;
          }
        }
      }

      &:last-child {
        margin: 0;

        h3 {
          background-color: rgb($darkGrey, 0.25);
        }

        p {
          span:last-child {
            color: $darkGrey;
          }
        }
      }

      p {
        padding: $size1 $size8;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;

        span:last-child {
          font-weight: bold;
          font-size: 17px;
        }
      }
    }
  }

  .popup {
    padding: $size3 0;

    p {
      margin: 0;
      text-align: center;
    }

    .popupTitle {
      font-family: $defaultTitle;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: $size1;
    }

    .popupCases {
      font-size: 14px;
    }
  }
}

.container {
  .headerShimmer {
    button {
      width: calc($size16 + $size16);
    }
  }

  .dashboardShimmer {
    display: flex;
    flex-direction: row;

    .map {
      border-radius: $radius1;
      height: 100%;
      width: 75%;
      margin-right: $size6;
      @extend %shimmerAnimation;
    }

    .statistics {
      flex: 1;
      border-radius: $radius1;
      display: flex;
      flex-direction: column;

      .type {
        flex: 1;
        border-radius: $radius1;
        margin-bottom: $size6;
        border: 1px solid $primaryGrey;

        &:last-child {
          margin: 0;
        }

        ul {
          height: 22px;
          margin: 0;
          padding: $size2 0;
          margin-bottom: $size1;
          @extend %shimmerAnimation;
        }

        p {
          padding: $size1 $size8;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          span {
            height: $size5;
            @extend %shimmerAnimation;
          }

          span:first-child {
            width: calc($size16 + $size6);
          }

          span:last-child {
            width: $size8;
          }
        }
      }
    }
  }
}