@import './defaults.scss';

.container {
  .profileDetails {
    div {
      margin: $size2 0 $size4 0;

      label {
        font-size: 16px;
        display: block;
        margin-bottom: $size2;
        margin-left: $size1;
      }

      input {
        width: 30%;
        margin-right: $size3;
        padding: $size3 $size4;
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
        border: none;
        border-radius: $radius1;
        font-size: var(--inputFontSize);
        transition: box-shadow 300ms;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 2px solid $lightGrey;

        &:disabled {
          background-color: $primaryGrey;
        }

        &:focus {
          border: 2px solid $primaryBlue;
          outline: none;
        }
      }

      span {
        color: red;
      }
    }

    svg {
      width: 30px;
      position: relative;
      right: 5px;
      top: $size2;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.container {
  .headerShimmer {
    h2 {
      height: $size7;
      width: calc($size16 + $size8);
      border-radius: $textRadius;
      @extend %shimmerAnimation;
    }

    button {
      height: $size7;
      width: calc($size16 + $size3);
      height: $size9;
      border-radius: $radius1;
      background-color: $shimmerBackground;
      @extend %shimmerAnimation;
    }
  }

  .profileShimmer {
    label {
      height: $size5;
      width: calc($size16 + $size6);
      border-radius: $textRadius;
      @extend %shimmerAnimation;
    }

    input {
      &:disabled {
        background-color: $shimmerBackground;
        @extend %shimmerAnimation;
      }
    }
  }
}